<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @company.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @company.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="company[address]" class="fieldLabel">Address</label>
            <input type="text" id="company[address]" name="company[address]" <%= placeholder("Address") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[contact_number]" class="fieldLabel">Contact number</label>
            <input type="text" id="company[contact_number]" name="company[contact_number]" <%= placeholder("Contact number") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[contact_person]" class="fieldLabel">Contact person</label>
            <input type="text" id="company[contact_person]" name="company[contact_person]" <%= placeholder("Contact person") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[name]" class="fieldLabel">Name</label>
            <input type="text" id="company[name]" name="company[name]" <%= placeholder("Name") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[postal_code]" class="fieldLabel">Postal code</label>
            <input type="text" id="company[postal_code]" name="company[postal_code]" <%= placeholder("Postal code") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
